body{
    padding: 16px;
    background-color: beige;
}

.header{
    display: flex;
}

.logoImage{
    width: 70px;
    height: 100%;
}

.logoText{
    margin-left: 16px;
    font-family: 'Audiowide', cursive;
}